<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd"
default-init-method="startTime" default-destroy-method="endTime">


<bean id="audi" class="Auditorium" init-method="turnOnLight" destroy-method="turnOffLight">
</bean>
<bean id="student" class="Student">
<property name="rollno"  value="06"/>
<property name="name"  value="Ranjit Chavan"/>
<property name="address"  value="Sangli"/>
<property name="gen"  value="Male"/>

</bean>
<bean id="appstart" class="ApplicationStartTime"></bean>
	
	
</beans>