<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd"
default-init-method="startTime" default-destroy-method="endTime">



<bean id="drum" class="Drum"></bean>
<bean id="paino" class="Paino"></bean>
<bean id="ranjit" class="Ranjit">
<property name="instrument">
<list>
<ref bean="drum"/>
<ref bean ="paino"/>
</list>
</property>
</bean>

<bean id="danny" class="Danny">
<property name="instrument">
<set>

<ref bean ="paino"/>
<ref bean ="paino"/>
</set>
</property>
<property name="in">
<list>
<ref bean="drum"/>
<ref bean ="paino"/>
</list>
</property>
</bean>
</beans>